<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Details</title>
    <link rel="stylesheet" href="/css/StyleSheet.css">
    <link rel="icon" href="images/Picture1.png" type="image/x-icon">
</head>

<body>

    <div id="f_container">
        <div id="navi">
            <img src="images/Picture1.png" alt="">
        </div>
        <div id="bar">
            <form action="/entry.html">
                <h3>First Name:</h3>
                <input type="text" name="f_name" id="s_style" placeholder="Enter first name">
                <h3>Last Name:</h3>
                <input type="text" name="l_name" id="s_style" placeholder="Enter last name">
                <h3>Country:</h3>
                <input type="text" name="c_name" id="s_style" placeholder="Enter country name">
                <h3>Phone Number:</h3>
                <input type="tel" name="p_no" id="s_style" placeholder="Enter phone no">
                <h3>Room Type:</h3>
                <select name="Room Type" id="room_type">
                <option value="Value 1"
                selected="selected">Select Room Type</option>
                <option value="Value 2">Ordinary Room</option>
                <option value="Value 3">Deluxe Room</option>
                <option value="Value 4">Super Deluxe Room</option>
                <option value="Value 5">Luxury Room</option>
                <option value="Value 6">Royal Room</option>
                <option value="Value 7">Family Room</option>
                
            </select>

                <h3>Room Number:</h3>
                <input type="number" name="r_no" id="s_style" placeholder="Enter room no">
                <h3>Arrival Time:</h3>
                <input type="datetime-local" name="datetime" id="s_style" placeholder="Enter Arrival Time.">
                <h3>Departure Time:</h3>
                <input type="datetime-local" name="datetime" id="s_style" placeholder="Enter Departure Time.">
                <br>
                <input id="entry1" type="submit" name="submitBtn" value=" &nbsp;&nbsp;&nbsp;&nbsp;Apply Now" />
                <input id="entry1" type="reset" name="resetBtn" value="&nbsp;&nbsp;&nbsp;Reset the Form" />

            </form>
        </div>
</body>

</html>