
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>White Rose Hotel</title>
    <link rel="stylesheet" href="/css/StyleSheet.css">
    <link rel="icon" href="images/Picture1.png"type="image/x-icon">
</head>

<body>
    <div id="container">
        <div id="complete">
            <div id="navigation">
                <div id="menu">

                    <a href="~/Views/Home/login.cshtml"><button id="book">Book Now</button></a>

                </div>

            </div>
            <div id="center_div">
                <h1 style="text-align: center;">Welcome
                    <br> ------------*******------------
                </h1>
                <h3 style="text-align: center;">Make Your Tour Amazing with Us <br> Where Dreams Comes True.

                </h3>
            </div>
            <div id="scroll_menu">
                <a href=""><button id="home">Home</button></a>

                <a href="#Room_D"><button id="rooms">Rooms </button></a>

                <a href="#our_services"><button id="rooms">Our Services</button></a>

                <a href="~/Views/Home/Gallery.cshtml" target="_blank"><button id="rooms">Gallery</button></a>

                <a href="#map"><button id="rooms"> Our Location</button></a>

                <a href="#footer"><button id="rooms">Help</button></a>

                <a href="#footer"><button id="rooms">About Us</button></a>

            </div>
            <h1 style="text-align: center;">Hotel & Resort <br>
                <h2 style="text-align: center;"> <em>White Rose</em> </h2>
            </h1>
            <a href="#Room_D"><button id="btn">Visit us</button></a>


            <div id="border">
            </div>
        </div>

        <div id="Room_D">

            <div id="R_Nav">
                <h1>ROOMS</h1>
            </div>
            <div id="Rooms_nav">
                <div id="style_room">
                    <img src="images/flowers-design-the-city-style-wallpaper-thumb.jpg " alt=" "></div>
                <div id="style_room1">
                    <img src="images/stunning-bedroom-design-wallpaper-preview.jpg " alt=" "> </div>
                <div id="style_room2">
                    <img src="images/splendid-bedroom-design-wallpaper-preview.jpg " alt=" "> </div>
                <div id="style_room2">
                    <img src="images/bedroom-bed-window-pillow-wallpaper-thumb.jpg " alt=" "> </div>

            </div>
            <div id="text">
                <h2 id="text1">-::Simple Room::-</h2>
                <h2 id="text2">-::Deluxe Room::-</h2>
                <h2 id="text3">-::Royal Room::-</h2>
                <h2 id="text4">-::Luxury Room::-</h2>
            </div>
            <div id="Rooms_nav2">
                <div id="style_room3">
                    <img src="images/hotel-room-bed-furniture-wallpaper-thumb.jpg" alt="">
                </div>
                <div id="style_room4">
                    <img src="images/architecture-building.jpg" alt="">
                </div>
                <div id="style_room5">
                    <img src="images/white-flowers-design-style-wallpaper-thumb.jpg" alt="">
                </div>
            </div>
            <div id="text">
                <h2 id="text5">-::Ordinary Room::-</h2>
                <h2 id="text6">-::Super Deluxe Room::-</h2>
                <h2 id="text7">-::Family Room::-</h2>
            </div>

        </div>

        <div id="our_services">
            <div id="service1">
                <div id="ser_text">
                    <h1>Our Services</h1><br>
                    <h4>White Rose Hotel & Resort offers exclusive services and benefits for the comfort of its guests. Among many facilities that the hotel has to offer, guests can directly access to the shopping mall and the theme & amusement park by car
                        park hotel entrance elevators. A various choice of restaurants and cafés are available at the shopping mall. The hotel's family-friendly and home-like accommodation concept also provide many advantages such as a supermarket, a
                        pharmacy, a tobacco shop, a hair dresser and many more within a walking distance.</h4>
                </div>
                <img src="images/reception-hotel-business-service.jpg" alt="">
            </div>
            <div id="service2">
                <img src="images/9-Facilities-That-A-Hotel-Must-Offer-To-Its-Guests-infographic.png" alt="">
            </div>
            <div id="map">
                <iframe src=" https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d115479.50611978125!2d55.18610345860673!3d25.245863685384997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3e5f43bba06e2d09%3A0x2f3449850fdb13f3!2sNikki%20Beach%20Resort%20%26%20Spa%20Dubai%2C%20Pearl%20Jumeirah%20-%20Dubai%20-%20United%20Arab%20Emirates!3m2!1d25.2458802!2d55.2561438!5e0!3m2!1sen!2s!4v1656261205480!5m2!1sen!2s"
                    width="100%" height="450px" style="border:0px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
            <div id="footer">
                <div id="f_section1">
                    <img src="images/Picture1.png" alt="logo">
                </div>
                <div id="f_section2">
                    <h3>Address:</h3>
                    <p>Pearl Jumeira,</p>
                    <p>Dubai, United Arab Emirates</p>
                </div>
                <div id="f_section3">

                    <h3>Contacts</h3>
                    <p>Email:</p>
                    <p>afaqmahmood778866@gmail.com</p>
                    <p>Phone:</p>
                    <p>03107194924</p>

                </div>
                <div id="f_section4">
                    <h1> &nbsp;&nbsp;&nbsp;AWG
                        <br> Developer
                    </h1>
                    <a href="https://web.whatsapp.com/" target="_blank"> <button id="f_button"> <img id="f_pic" src="/Assests/pngwing.com (6).png" alt=""></button></a>
                    <a href="https://www.instagram.com/accounts/login/" target="_blank"><button id="f_button"> <img id="f_pic" src="/Assests/pngwing.com (7).png" alt=""></button></a>
                    <a href="https://www.facebook.com/" target="_bank"><button id="f_button"> <img id="f_pic" src="/Assests/pngwing.com (5).png" alt=""></button></a>
                    <a href="https://twitter.com/i/flow/login" target="_blank"><button id="f_button"> <img id="f_pic" src="/Assests/pngwing.com (4).png" alt=""></button></a>
                    <a href="https://www.youtube.com/results?search_query=nikki+beach+dubai" target="_blank"> <button id="f_button"> <img id="f_pic" src="/Assests/pngwing.com (8).png" alt=""></button></a>
                    <a href="https://www.pinterest.com/login/" target="_blank"><button id="f_button"> <img id="f_pic" src="/Assests/pngwing.com (9).png" alt=""></button></a>


                </div>
            </div>
        </div>

    </div>
</body>

</html>

</html>