<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>White Rose Hotel Login Page</title>
    <link rel="stylesheet" href="/css/StyleSheet.css">
    <script src="/js/JavaScript.js"></script>
    <link rel="icon" href="images/Picture1.png" type="image/x-icon">
</head>


<body>

    <div id="login">
        <div id="access">

            <img id="logo" src="images/Picture1.png" alt="">
            <h2>Login Page</h2>

            <label for="User">
                <b>Username:</b>
            </label>
            <br>
            <input type="text" style="text-align: center;" id="Username" placeholder=" Enter Username " required>

            <br>
            <label for="Pass">
                <b>Password:</b>
                </label>
            <br>
            <input type="Password" style="text-align: center;" id="Password" placeholder=" Enter Password " required>

            <br>
            <button id="submit" onclick="log()">
                <b>Login</b>
            </button>

        </div>
    </div>
</body>

</html>